@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --font: "Outfit", sans-serif;

  --dark-navy: #1a2a33;
  --semi-dark-navy: #1f3641;
  --silver: #a8bfc9;
  --silver__hover: #dbe8ed;
  --light-blue: #31c3bd;
  --light-blue__hover: #65e9e4;
  --yellow: #f2b137;
  --yellow__hover: #ffc860;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font);
  font-weight: 400;

  background-color: var(--dark-navy);
  color: var(--silver);

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.9rem;
}

.h-lg {
  font-size: 4rem;
  font-weight: bold;
}

.h-md {
  font-size: 2.4rem;
  font-weight: bold;
}

.h-sm {
  font-size: 2rem;
  font-weight: bold;
}

.h-xs {
  font-size: 1.6rem;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  height: 3.2rem;
  width: auto;
}

.logo {
  height: 100%;
  width: 100%;
}

.status-indicator {
  background-color: var(--semi-dark-navy);
  width: 14rem;
  height: 5.2rem;
  box-shadow: 0 4px 0 0 #10212a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.player-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-replay {
  height: 5.2rem;
  width: 5.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--silver);
  box-shadow: 0 4px 0 0 #6b8997;
  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.btn-replay:hover {
  background-color: var(--silver__hover);
}

.icon-replay {
  height: 2rem;
  width: 2rem;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.cell {
  width: 14rem;
  height: 14rem;
  background-color: var(--semi-dark-navy);
  border-radius: 1.5rem;
  box-shadow: 0 8px 0 0 #10212a;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:empty:hover {
  cursor: pointer;
  background-color: #2c4c5c;
}

.winning-cell {
  border: 2px solid var(--yellow);
  transform: scale(1.02);
  transition: transform 120ms ease;
}

.result-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--dark-navy);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem;
  z-index: 10;

  animation: pop 200ms ease-in-out;
}

@keyframes pop {
  from {
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.result-text {
  font-size: 5rem;
  font-weight: bold;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}
