@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --font: "Outfit", sans-serif;

  --dark-navy: #1a2a33;
  --semi-dark-navy: #1f3641;
  --silver: #a8bfc9;
  --silver__hover: #dbe8ed;
  --light-blue: #31c3bd;
  --light-blue__hover: #65e9e4;
  --yellow: #f2b137;
  --yellow__hover: #ffc860;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font);
  font-weight: 400;

  background-color: var(--dark-navy);
}

.cell {
  width: 60px;
  height: 60px;
  border: 1px solid red;
  background-color: cyan;
}
